asgiref==3.11.1
certifi==2026.7.22
charset-normalizer==3.4.9
Django==6.0.6
django-cleanup==9.0.0
django-debug-toolbar==7.0.0
django-extensions==4.1
django-resized==1.0.3
django-taggit==6.1.0
djangorestframework==3.17.1
easy-thumbnails==2.10.1
idna==3.18
kavenegar==1.1.2
Markdown==3.10.2
MarkupSafe==3.0.3
pillow==12.3.0
psycopg2-binary==2.9.12
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
Werkzeug==3.1.8
