{% extends "parent/base.html" %}
{% block title %}Create Post{% endblock title %}
{% block content %}
<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    {% if post %}
        {% for img in post.images.all %}
            <img width='300px' height='300px' src="{{img.image.url}}">
            <a href='{% url "social:delete_image" img.id%}'>delete image</a>
            <br>
        {% endfor %}
    {% endif %}
    <br>
    <input type='submit' value='ENTER'>
</form>
<br>
<a href='{% url "social:panel_admin" %}'>Back to panel_admin</a>
{% endblock content %}